extends ./layout/layoutIndex

block title
  title Index

block main
  include ./layout/errorMessage
  .row.center-xs.top-space.z-depth-1.paddig-big.white
    .col-xs-10
      h4 Notices
      a.waves-effect.waves-light.btn.margin-small.orange.darken-4(href="/news") NEWS

  .row.center-xs.top-space.z-depth-1.paddig-big.white
    .col-xs-10x
      h4 Groups
      a.waves-effect.waves-light.btn.margin-small.orange.darken-4(href="/groups") Groups

  .row.center-xs.top-space.z-depth-1.paddig-big.white
    .col-xs-10
      h4 Folders & Files
<<<<<<< HEAD
      a.waves-effect.waves-light.btn.margin-small.orange.darken-4(href="/files") Folders


      p Proyecto en version Alpha, sujeto a cambios radicales o parciales
=======
      a.waves-effect.waves-light.btn.margin-small.orange.darken-4(href="/admin/files") Folders
>>>>>>> 79bbc2073df8eddd2d124d4f8deadb015442290e
