extends ./layout/layoutIndex

block title
  title Index

block main
  .row.center-xs
    .col-xs-5
      h3 Pagina principal del proyecto
  .row.center-xs
    .col-xs-2
      a.waves-effect.waves-light.btn(href="/accounts/signin") Iniciar sesion
    .col-xs-2
      a.waves-effect.waves-light.btn(href="/accounts/signup") Registrarse

  h4 Offers
  .row.center-xs.top-space.z-depth-1.paddig-big
    .col-xs-10
      a.waves-effect.waves-light.btn.margin-small(href="/app/offers/new") New
      a.waves-effect.waves-light.btn.margin-small(href="/app/offers") Administration

  h4 Users
  .row.center-xs.top-space.z-depth-1.paddig-big
    .col-xs-10
      a.waves-effect.waves-light.btn.margin-small(href="/app/users/new") New
      a.waves-effect.waves-light.btn.margin-small(href="/app/users") Administration

  h4 Demands
  .row.center-xs.top-space.z-depth-1.paddig-big
    .col-xs-10
      a.waves-effect.waves-light.btn.margin-small(href="/app/demands/new") New
      a.waves-effect.waves-light.btn.margin-small(href="/app/demands") Administration



