extends ./layout/layoutIndex

block title
  title Index

block main
  .row.center-xs
    .col-xs-5
      h3 Pagina principal del proyecto
  .row.center-xs
    .col-xs-2
      a.waves-effect.waves-light.btn(href="/accounts/signin") Iniciar sesion
    .col-xs-2
      a.waves-effect.waves-light.btn(href="/accounts/signup") Registrarse

  .row.center-xs.top-space
    .col-xs-4
      a.waves-effect.waves-light.btn(href="/users") Administracion de Usuarios
  .row.center-xs.top-space
    .col-xs-4
      a.waves-effect.waves-light.btn(href="/ofertas") Administracion de Ofertas
  .row.center-xs.top-space
    .col-xs-4
      a.waves-effect.waves-light.btn(href="/demandas") Administracion de Demandas


