extends ./layout/layoutIndex

block title
  title Index

block main
  include ./layout/errorMessage
  .row.center-xs.top-space.z-depth-1.paddig-big.white
    .col-xs-10
      h4 Notices
      a.waves-effect.waves-light.btn.margin-small.orange.darken-4(href="/news") NEWS

  .row.center-xs.top-space.z-depth-1.paddig-big.white
    .col-xs-10x
      h4 Groups
      a.waves-effect.waves-light.btn.margin-small.orange.darken-4(href="/groups") Groups

  .row.center-xs.top-space.z-depth-1.paddig-big.white
    .col-xs-10
      h4 Folders & Files
      a.waves-effect.waves-light.btn.margin-small.orange.darken-4(href="/files") Folders
