extends ./layout/layoutIndex

block title
  title Index

block main
  include ./layout/errorMessage
  .row.center-xs
    .col-xs-5
      h3 Pagina principal del proyecto
      .row.center-xs
    .col-xs-2
      a.waves-effect.waves-light.btn(href="/accounts/signin") Iniciar sesion
    .col-xs-2
      a.waves-effect.waves-light.btn(href="/accounts/signup") Registrarse
    .col-xs-2
      a.waves-effect.waves-light.btn(href="/accounts/login") Verificar
    .col-xs-2
      a.waves-effect.waves-light.btn(href="/accounts/logout") Cerrar sesion

  .row.center-xs.top-space.paddig-big
    .col-xs-10
      h4 Prototipo del chat en tiempo real
      p Cualquier bug, reportarlo y explicar como es que sucedio
      a.waves-effect.waves-light.btn.margin-small.green.darken-1(href="/app/room/new") Sala

  .row.center-xs.top-space.z-depth-1.paddig-big.white
    .col-xs-10
      h4 Solo administradores
      a.waves-effect.waves-light.btn.margin-small.blue.darken-4(href="/administrator/sources") Sources

  .row.center-xs.top-space.z-depth-1.paddig-big.white
    .col-xs-10
      h4 Offers
      a.waves-effect.waves-light.btn.margin-small.teal.darken-4(href="/app/offers") Offers

  .row.center-xs.top-space.z-depth-1.paddig-big.white
    .col-xs-10
      h4 Users
      a.waves-effect.waves-light.btn.margin-small.orange.darken-4(href="/administrator/users") Users

  .row.center-xs.top-space.z-depth-1.paddig-big.white
    .col-xs-10
      h4 Demands
      a.waves-effect.waves-light.btn.margin-small(href="/app/demands") Demands

  .row.center-xs.top-space.z-depth-1.paddig-big.white
    .col-xs-10
      h4 Notices
      a.waves-effect.waves-light.btn.margin-small.orange.darken-4(href="/admin/notis") NEWS

  .row.center-xs.top-space.z-depth-1.paddig-big.white
    .col-xs-10x
      h4 Groups
      a.waves-effect.waves-light.btn.margin-small.orange.darken-4(href="/admin/groups") Groups

  .row.center-xs.top-space.z-depth-1.paddig-big.white
    .col-xs-10
      h4 Folders & Files
      a.waves-effect.waves-light.btn.margin-small.orange.darken-4(href="/admin/files") Folders


      p Proyecto en version Alpha, sujeto a cambios radicales o parciales
