extends ./layout/layoutIndex

block title
  title Index

block main
  .row.center-xs
    .col-xs-5
      h3 Pagina principal del proyecto
  .row.center-xs
    .col-xs-2
      a.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect(href="/accounts/signin") Iniciar sesion
    .col-xs-2
      a.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect(href="/accounts/signup") Registrarse
  .row.center-xs.top-space
    .col-xs-4
      a.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect(href="/accounts/users") Administracion de Usuarios


