extends ./layout/layoutIndex

block title
  title Index

block main
  .row.center-xs
    .col-xs-5
      h3 Pagina principal del proyecto
  .row.center-xs
    .col-xs-2
      a.waves-effect.waves-light.btn(href="/accounts/signin") Iniciar sesion
    .col-xs-2
      a.waves-effect.waves-light.btn(href="/accounts/signup") Registrarse

  .row.center-xs.top-space.paddig-big
    .col-xs-10
      h4 Prototipo del chat en tiempo real
      p Cualquier bug, reportarlo y explicar como es que sucedio
      a.waves-effect.waves-light.btn.margin-small.green.darken-1(href="/app/room") Sala

  .row.center-xs.top-space.z-depth-1.paddig-big.white
    .col-xs-10
      h4 Solo administradores
      a.waves-effect.waves-light.btn.margin-small.blue.darken-4(href="/app/administrator/sources") Sources

  .row.center-xs.top-space.z-depth-1.paddig-big.white
    .col-xs-10
      h4 Offers
      a.waves-effect.waves-light.btn.margin-small.teal.darken-4(href="/app/offers") Offers

  .row.center-xs.top-space.z-depth-1.paddig-big.white
    .col-xs-10
      h4 Users
      a.waves-effect.waves-light.btn.margin-small.orange.darken-4(href="/app/administrator/users") Users

  .row.center-xs.top-space.z-depth-1.paddig-big.white
    .col-xs-10
      h4 Demands
      a.waves-effect.waves-light.btn.margin-small(href="/app/demands") Demands



