extends ./layout/layoutIndex

block title
  title Registro de Usuarios

block main
  .row.center-xs
    .col-xs-8
      h3 Registrate
  .row.center-xs
    .col-xs-5
      form(method="POST" action="/accounts/local/user" enctype="multipart/form-data")
        .input-field.col.s12
          label(for="username") Nombre de Usuario:
          input(type="text", class="validate", name="username", id="username")
        .input-field.col.s12
          label(for="email") Correo:
          input(type="text", class="validate", name="email", id="email")
        .input-field.col.s12
          label(for="password") Contraseña:
          input(type="password", class="validate", name="password", id="password")
        .input-field.col.s12
          .row.center-xs
            .col-xs-6
              p
                input(name="options" type="radio" id="test1" value="false")
                label(for="test1") Usuario
            .col-xs-6
              p
                input(name="options" type="radio" id="test2" value="true")
                label(for="test2") Administrador
        div
          input(type="submit", class="btn", name="btn", id="btn", value="Registrarse")

