extends ./layout/layoutIndex

block title
  title Inicio de Sesion

block main
  .row.center-xs
    .col-xs-8
      h3 Inicio de Sesion
  .row.center-xs
    .col-xs-2
      a(href="/auth/facebook" class="btn") Facebook
    .col-xs-2
      a(href="/auth/twitter" class="btn") Twitter
    .col-xs-2
      a(href="/auth/linkedin" class="btn") Linkedin
  .row.center-xs
    .col-xs-5
      h5= error
  .row.center-xs
    .col-xs-5
      form(method="POST" action="/auth/local")
        .input-field.col.s12
          label(for="username") Correo Electronico:
          input(type="email", class="validate", name="username", id="username" autofocus)
        .input-field.col.s12
          label(for="password") Contraseña:
          input(type="password", class="validate", name="password", id="password")
        div
          input(type="submit", class="btn", name="btn", id="btn", value="Sign in")

