extends ./layout/layoutIndex

block title
  title Usuarios registrados

block main
  .row.center-xs
    .col-xs-12
      if (users)
        table
          thead
            tr: th(colspan="7") Usuarios registrados actualmente
          tbody
            tr
              td ID
              td Nombre
              td Modo de Registro
              td idProveedor
              td Administrador?
              td Correo
              td Fecha de registro
            for user in users
              tr.table
                td: p= user._id
                td: p= user.username
                td: p= user.provider
                td: p= user.providerId
                td: p= user.administrator
                td: p= user.email
                td: p= user.fechaCreacion
      else
        .col-xs-6
          h3 No hay usuarios en la base de datos
