.border {
  border: 1px solid #76ff03;
}

.table:nth-child(even) {
  background-color: lightsteelblue;
}

table tr td{
  padding: 10px 30px;
  border: 1px solid;
}

table {
  border-collapse: collapse;
}

.top-space {
  margin-top: 35px;
  margin-bottom: 35px;
}
