extends ../../layout/layoutIndex

block title
  title Events Slider

block main
  .row.center-xs
    .col-xs-8
      h3 Sources Information
  .row.center-xs
    a.waves-effect.waves-light.btn(href="/") Regresar al Inicio
    a.waves-effect.waves-light.btn.margin-small(href="/app/administrator/sources/new") new
  .row.center-xs
    .col-xs-10
      if (sources != "")
        table.highlight.centered
          thead
            tr
              th Titulo
              th Imagen
              th(colspan="3") crud
          tbody
            each source in sources
              tr
                td #{source.title}
                td #{source.image}
                td: a.waves-effect.waves-light.btn.margin-small(href="/app/administrator/sources/" + source._id + "/edit") Edit
                td: a.waves-effect.waves-light.btn.margin-small(href="/app/administrator/sources/" + source._id) View
                td
                  form(method="POST" action="/app/administrator/sources/" + source._id + "?_method=DELETE" enctype="multipart/form-data")
                    input.btn.margin-small(type="submit", value="Delete")
      else
        h3 Esta tabla se encuentra vacia
