extends ../../layout/layoutIndex

block title
  title Events Slider

block main
  .row.center-xs
    .col-xs-8
      h3 Sources Information
  .row.center-xs
    .col-xs-5
      form(method="POST" action="/app/administrator/sources/" + source._id + "?_method=PUT" enctype="multipart/form-data")
        .input-field.col.s12
          label(for="title") Titulo:
          input(type="text", class="validate", name="title", id="title" value="" + source.title)
        .input-field.col.s12
          .file-field.input-field
            .btn
              span Imagen
              input(type="file", name="image", id="image")
            .file-path-wrapper
              input(type="text", class="file-path validate" name="imageName" value="" + source.image)
        div
          input(type="submit", class="btn", name="btn", id="btn", value="Actualizar")

