extends ../../layout/layoutIndex

block title
  title Events Slider

block main
  .row.center-xs
    .col-xs-8
      h3 Events - Slider View
  .row.center-xs
    .col-xs-10
      h5 Nombre: #{event.name}
      h5 Categoria: #{event.category}
      h5 Foto
      img(src="/images/imagesEvents/" + event.name)
