extends .././layout/layoutIndex

block title
  title Nueva oferta

block main
  .row.center-xs
    .col-xs-8
      h2 Crea una nueva oferta
  .row.center-xs
    .col-xs-8
      form(method="POST" action="#")
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          label(for="empresa_nombre" class="mdl-textfield__label") Nombre de la empresa:
          input(type="text", class="mdl-textfield__input", name="empresa_nombre", id="empresa_nombre")
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          label(for="categoria" class="mdl-textfield__label") Categoria:
          input(type="text", class="mdl-textfield__input", name="categoria", id="categoria")
        div
          input(type="submit", class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent", name="btn", id="btn", value="Publicar")

