extends ../../layout/layoutIndex

block title
  title Editar demanda

block main
  .row.center-xs
    .col-xs-5
      h3 Editar la demanda #{id}
  .row.center-xs
    .col-xs-5
      form(method="POST" action="/app/demanda/" + id + "?_method=PUT" enctype="multipart/form-data")
        .input-field.col.s12
          label(for="business") Empresa:
          input(type="text", class="validate", name="business", id="business")
        .input-field.col.s12
          textarea.materialize-textarea(type="text" rows= "5" id="sample5" data-length="100")
          label(class="mdl-textfield__label" for="sample5" name="description") Descripcion
        .input-field.col.s12
          label(for="category") Categoria:
          input(type="text", class="validate", name="category", id="category")
        .input-field.col.s12
          .file-field.input-field
            .btn
              span File
              input(type="file", name="image", id="image")
            .file-path-wrapper
              input(type="text", class="file-path validate")
        div
          input(type="submit", class="btn", name="btn", id="btn", value="Publicar")


