extends ../../layout/layoutIndex

block title
  title Chat

block main
  .row.center-xs
    h3 Sala de chats del grupo: #{group_id}
  .row.center-xs
    p Iniciaste sesion con #{user.username}
    input(type="hidden", class="username", name="username", id="username" value="" + user.username)
  .row.center-xs.container_messages.border
    .col-xs-10
      ul#comment-section
  .row.center-xs
    .col-xs-8
      input(type="text", id="text_message" placeholder="Mensaje")
